body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header {
  display: flex;
  justify-content: space-between;
 
  height: 800px;
  background-color: rgb(140, 138, 143);
  -webkit-text-stroke: 1px rgb(3, 73, 111);
  color: rgb(114, 19, 247);
  padding: 150px 200px;
  width: 100%;
}
.icon-bar {
  width: 90px; /* Set a specific width */
  background-color: rgb(204, 61, 61); /* Dark-grey background */
}